main {
    display: grid;
    place-items: center;
    gap: 10px;
}
input,
textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
}
.centered {
    display: grid;
    place-items: center;
}
.sheetHolder {
    display: grid;
    grid-template-rows: auto 200px;
    gap: 20px;
}
.resultHolder {
    overflow-y: auto;
}
.twoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.threeColumns {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 15px;
    align-items: end;
}
#submitElement {
    height: 20px;
    background-color: lightblue;
    align-self: end;
}
